# Detect displays
--displays=auto

# Define display layout
# Valid options are:
# right, left, top, or bottom
--direction=bottom

# Define the cycling stages
# Valid options are:
# -s (primary), -S (secondary), -c (clone), or -e (extend)
--cycle-stages=-S:-s

# Enable notifications & other plugins
--plugins=all
